/*Tablet*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .topo-do-site {
        background-image: url(../img/banner-tablet.webp);
        background-size: cover;
    }

    .topo-do-site h1{
        font-size: 31px;
    }


    .imagens-secao {
        display: none;
    }

    .secao-1 h2 {
        font-size: 28px;
    }

    .render {
        margin-top: 161px;
    }

    .secao-2 h2 {
        font-size: 31px;
        margin-top: 130px;
    }

    .secao-3 li {
        width: 235px;
    }

    .secao-3 li p {
        font-size: 15px;
    }

    .secao-3 li h3 {
        font-size: 18px;
    }

    .secao-4 {
        height: 560px;
    }

    .secao-4 h2 {
        font-size: 25px;
    }

    .secao-6 {
        font-size: 25px;
        margin-top: 20px;
    }

    .profissional {
        margin-top: -23px;
    }

    .voltar {
        left: 91%;
    }
}

/*Smartphone*/

@media only screen and (max-width: 768px){
    .topo-do-site {
        background-image: url(../img/banner-cel.webp);
    }
    .topo-do-site h1 {
        margin-top: 10px;
        font-size: 30px;
    }
    .botao {
        margin-top: 270px;
    }

    .imagens-secao {
        display: none;
    }
    .secao-1 h2 {
        margin-top: 20px;
        font-size: 28px;
    }

    .render {
        display: none;
    }

    .secao-2 h2 {
        margin-top: 95px;   
        font-size: 28px;
    }

    .eletricista {
        display: none;
    }

    .secao-3 h2 {
        font-size: 25px;
    }
	
    .secao-5 h2 {
        font-size: 25px;
    }

    .secao-6 h2 {
        font-size: 25px;
        margin-top: -50px;
    }

    .secao-6 .botao {
        margin-top: 60px;
    }
    .eletrica {
        display: none;
    }

    .secao-7 h2 {
        font-size: 25px;
    }

    .secao-8 {
        height: 2800px;
    }

    .secao-8 img {
       margin-top: 2000px; 
    }

    .secao-9 {
        height: 800px;
    }
    .profissional {
        border-radius: 500px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        width: 300px;
        height: 300px;
        -o-object-fit: cover;
        margin-top: 30px;
    }
    
}